{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <title>{% block title %} {% endblock %}</title>
    <link type="text/css" href="{% static "app/css/style.css" %}" rel="stylesheet">
</head>

<body>

        <ul class="menu-bar">
            <li> <a href="{% url "login" %}">Log-in </a></li>
            <li> <a href="{% url "main" %}">Chat</a></li>
            <li> <a href="/api/">Cats</a> </li>
        </ul>

        <div class="content">
        {% block content %} {% endblock %}
        </div>

</body>

</html>